@charset "utf-8";
html,body{
    font-size: 12px;
}
.clearfix{
    display: block;
    clear: both;
    content: "";    
}
.header{
    .header_top{
        background: #eeeeee;
        .top_banner{
            width: 1226px;
            margin: 0 auto;
        }
    }
    .top_nav{
        background: #333333;
        height: 40px;
        .top_nav1{
            width: 1226px;
            height: 40px;
            margin: 0 auto;
            .menu{
                float: left;
                padding: 14px 0px;
                li{
                    float: left;
                    padding: 0 8px 0 9px;
                    border-left:1px solid #424242;
                    a{
                        color: #b0b0b0;
                    }
                    a:hover{
                        color: #ffb73f;
                    }
                }
                li.list1{
                    padding-left: 0;
                    border: none;
                }
            }
            .menu2{
                float: right;
                ul{
                    padding: 14px 0px;
                    float: left;
                    li{
                        float: left;
                        color: #b0b0b0;
                        a{
                            color: #b0b0b0;
                        }
                        a:hover{
                            color: #ffb73f;
                        }
                    }
                    .login{
                        padding: 0 8px 0 7px;
                        border-right: 1px solid #424242;
                    }
                    .regsiter{
                        padding: 0 7px;
                        border-right: 1px solid #424242; 
                    }
                    .xiaoxi{
                        padding: 0 25px 0 12px;
                    }
                }
                p{
                    width: 120px;
                    height: 40px;
                    background: #424242;
                    float: left;
                    position: relative;
                    a{
                        color: #b0b0b0;
                        img{
                            float: left;
                            padding: 14px 4px 0 17px;
                        }
                        span{
                            float: left;
                            padding: 14px 0 0 0;
                        }
                    }
                    a:hover{
                            color: #ffb73f;
                        }
                    
                }
                .p_gwc{
                    width: 300px;
                    height: 400px;
                    background: red;
                    position: absolute;
                    right: 55px;
                    top: 160px;
                    z-index: 5;
                    display: none;
                }
            }
        }
    }
    .header_content{
        width: 1226px;
        height: 100px;
        margin: 0 auto;
        .content_logo{
            height: 100px;
            .logo{
                float: left;
                padding: 22px 80px 23px 0;
            }
            .banners1{
                float: left;
                padding: 22px 0 23px 0;
            }
            .nav{
                float: left;
                padding: 43px 0 43px 77px;
                position: relative;
                 div{
                    width: 980px;
                    height: 462px;
                    background: red;
                    position: absolute;
                    top: 60px;
                    left: 80px;
                    font-size: 100px;
                    color: #000;
                    text-align: center;
                    line-height: 462px;
                    z-index: 999;
                    display: none;
                }
                a{
                    color: #333;
                }
                li{
                    float: left;
                    padding: 0 20px 0 0;
                }
                li:hover{
                    color: #ffb73f;
                    div{
                        display: block;
                    }
                }
            }
            .search{
                width: 294px;
                height: 48px;
                border: 1px solid #e0e0e0;
                margin: 25px 0 25px 0;
                float: right;
                position: relative;
                input{
                    width: 243px;
                    float: left;
                    margin: 15px 0;
                    border: none;
                }
                span{
                    position: absolute;
                    margin: 15px 0;
                    width: 96px;
                    height: 18px;
                    background: #eeeeee;
                    text-align: center;
                    line-height: 18px;
                }
                span:nth-of-type(1){
                    left: 37px;
                }
                span:nth-of-type(2){
                    left: 138px;
                }
                b{
                    float: left;
                    padding: 15px 0 15px 17px ;
                    border-left: 1px solid #eeeeee;
                }
            }
        }
    }
}

.content{
    width: 1226px;
//  height: 462px;
    margin: 0 auto;
    position: relative;
    .menu1{
        position: absolute;
        top: 1px;
        height: 462px;
        background: #0b0b0d;
        z-index: 10;
        li{
            opacity: 1;
            padding: 17px 30px;
            color: #fff;
            span{
                padding-left: 99px;
            }
            div{
                width: 996px;
                height: 462px;
                background: #ccc;
                position: absolute;
                top: 0;
                left: 230px;
                display: none;
                font-size: 100px;
                color: #000;
                text-align: center;
                line-height: 462px;
            }
        }
        li:hover{
            background: #ff6700;
            div{
                display: block;
            }
        }
    }
    .menu2{
        position: relative;
        height: 462px;
        li{
            position: absolute;
            top:0;
            left:0;
            width: 1226px;
            height: 462px;
            opacity: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        li:nth-of-type(1){
            z-index: 2;
            opacity: 1;
        }
    }
    .menu3{
        position: absolute;
        right: 10px;
        top: 440px;
        height: 462px;
        z-index: 3;
        li{
            width: 10px;
            height: 10px;
            background: #271f19;
            border: 1px solid #978c85;
            border-radius: 50%;
            float: left;
            margin-right: 10px;
        }
        li.active{
            background: red;
        }
    }
    .c_two{
        width: 1226px;
        height: 172px;
        margin: 0 auto;
        margin-top: 14px;
        div{
            width: 234px;
            height: 170px;
            float: left;
            background-color: #5F5750;
            .ul1{
                height: 170px;
                float: left;
                display:flex;
                flex-wrap: wrap;
                li{
                   box-sizing: border-box;
                   width: 33.3333%;
                   border: 1px solid #CCCCCC;
                   a{
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center; 
                   }
                   img{
                      margin-top: 20px;
                      margin-bottom: 6px;
                  }
                  span{
                      margin-bottom: 20px;
                      color: #fff;
                  }
                }
            }
        }
        .ul2{
            li{
               width: 316px;
               height: 100%;
               float: right;
               margin-left: 14px;
               img{
                   width: 100%;
                   height: 100%;
               }
            }
        }
    }
.c_three{
    width: 100%;
    height: 290px;
    h1{
        height: 30px;
        margin: 20px 0 10px;
        p:nth-of-type(1){
            float: left;
            font-size: 20px;
        }
        p:nth-of-type(2){
            float: right;
            text-align: center;
            span{
                display: inline-block;
                width: 20px;
                height: 15px;
                border: 1px solid #ccc;
            }
        }
    }
    .ul3{
        li{
            width: 235px;
            float: left;
            text-align: center;
            background: #FAFAFA;
            margin-left: 12px;
            padding-bottom: 1rem;
            transition: 1s;
            img{
                width: 70%;
            }
            p{
                margin-bottom: 0.6rem;
            }
            span{
                margin-top: 1rem;
                display: inline-block;
                color: orangered;
            }
        }
        li:hover{
            margin-top: -10px;
            box-shadow: 0px 10px #ccc;
        }
        li:nth-of-type(1){
            margin-left: 0px;
            border-top: #FCE0AE solid 2px;
        }
        li:nth-of-type(2){
            border-top: #D3E8C2 solid 2px;
        }
        li:nth-of-type(3){
            border-top: #B3D9F8 solid 2px;
        }
        li:nth-of-type(4){
            border-top: #F3BBB9 solid 2px;
        }
        li:nth-of-type(5){
            border-top: #A8E7DE solid 2px;
        }
    }
}
}




.content1{
        width: 100%;
        background-color: #F5F5F5;
        .c_l{
            width: 1226px;
            overflow: hidden;
            margin: 0 auto;
        .l_l{
            >div{
                width:235px ;
                height: 615px;
                margin-top: 20px;
                img{
                    width: 100%;
                }
            }
            ul{
                li{
                >a>p{
                       text-align: center;
                   }
                   >a>p:first-of-type{
                       margin-top: 20px;
                       font-size: 1.2rem;
                   }
                   >a>p:nth-of-type(2){
                       margin-top: 10px;
                       color: #CCCCCC;
                   }
                   >a>p:nth-of-type(3){
                       margin-top: 18px;
                       color: red;
                       >mark{
                           margin-left: 9px;
                           background: none;
                           color: #ccc;
                           text-decoration: line-through;
                       }
                   }
                   >a>img{
                       margin: 0 45px;
                       margin-top: 35px;
                      width: 60%;
                   }
            }
            }
            
                
        }
        h2{
            margin-top: 40px;
            span{
                float: left;
                font-size: 25px;
            }
            ul{
                float: right;
                li{
                    float: left;
                    margin-left: 21px;
                    font-size: 17px;
                    a{
                        color: #666;
                    }
                }
            }
        }
           >div{
               >div
               { float:left;}
               >div>div{
                  
                   width: 235px;
                    height:300px;
                    margin-bottom: 15px;
                   >img{
                       width: 100%;
                      height: 100%;
                   }
               }
               >div:nth-of-type(1){
                   margin-bottom: 15px;
               }
           }
           >div>ul{
               float:left;
               margin-left: 12px;
               width: 979px;
               margin-top: 20px;
               li{
                   float: left;
                   width: 234px;
                   height: 300px;
                   background-color: #fff;
                   margin-left: 12px;
                   transition: 0.6s;
                   a{
                       color: #666;
                   }
               
               }
                .hover:hover{
                   transform: translateY(-2px);
                   box-shadow: 0px 10px #ccc;
               }
               li:first-of-type,li:nth-of-type(5){
                   margin-left:0;
               }
               li:first-of-type,li:nth-of-type(2),li:nth-of-type(3),li:nth-of-type(4){
                   margin-bottom:12px;
               }
               li:last-of-type{
                    background-color: #F5F5F5;
                   >div{
                       background-color: #fff;
                       height: 105px;
                       width: 100%;
                       transition:0.6px;
                   }
                   .hover1:hover{
                       transform: translateY(-2px);
                       box-shadow: 0px 10px #ccc;
                   }
                   >div:first-of-type{
                       margin-bottom: 12px;
                       padding: 0 30px;
                       padding-top: 35px;
                       a>div{
                           float: left;
                           font-size: 1.4rem;
                           p:last-of-type{
                               margin-top: 15px;
                               color: orangered;
                           }
                       }
                       >img{
                           float: right;
                           width: 80px;
                       }
                   }
                   >div:last-of-type{
                       padding-right: 51px;
                       padding-top: 43px;
                       a>div{
                           float: left;
                           font-size: 1.4rem;
                           h3{
                             font-size: 1.7em;  
                           }
                            p:last-of-type{
                               margin-top: 15px;
                               color: #CCCCCC;
                           }
                           }
                           >a>img{
                           float: right;
                           width: 40px;
                       }
                   }
               }
           }
           
        }
        .c-four{
        width: 1226px;
        margin: 0 auto;
        margin-top: 28px;
        height: 349px;
        >.one{
            >h3{
                float: left;
            }
            >p{
                float: right;
                >a{
                    display: inline-block;
                    width: 30px;
                    height: 20px;
                    line-height: 20px;
                    border: 1px solid gainsboro;
                    text-align: center;
                    color: darkgray;
                }
                >a:hover{
                    box-shadow: none;
                }
                >a:nth-child(1){
                    margin-right: -7px;
                }
            }
        }
        >ul{
            margin-top: 20px;
            >li{
                width: 233px;
                height: 335px;
                background: #FAFAFA;
                text-align: center;
                margin-right: 14px;
                float: left;
                transition: 0.6s;
                >a:nth-child(1){
                    display: block;
                    margin: 50px 0 40px 0;
                }
                >a:nth-child(2){
                     margin-bottom: 5px;
                }
                >a:hover{
                    box-shadow: none;
                }
                >p{
                    font-size: 14px;
                }
                >p:nth-child(3){
                    color: grey;
                    font-size: 12px;
                    margin-bottom: 15px;
                }
                >p:nth-child(4){
                    color: orange;
                }
            }
            li:hover{
                box-shadow: 0px 10px #ccc;
                transform: translateY(-2px);
            }
            >.li1{
                border-top:1px solid orange;
            }
            >.li2{
                border-top:1px solid greenyellow;
            }
            >.li3{
                border-top:1px solid paleturquoise;
            }
            >.li4{
                border-top:1px solid pink;
            }
            >.li5{
                border-top:1px solid palegreen;
                margin-right: 0;
            }
        }
    }
.c-five{
        width: 1226px;
        margin: 0 auto;
        margin-top: 28px;
        height: 442px;
        .one{
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
        }
        >ul{
            margin-top: 20px;
            >li{
                width: 295px;
                height: 416px;
                background: #FAFAFA;
                margin-right: 14px;
                float: left;
                transition: 0.6s;
                >.text{
                    padding: 20px;
                    >p{
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    >p:nth-child(2){
                        margin-top: 20px;
                        color: grey;
                    }
                    >p:nth-child(3){
                        margin-top: 10px;
                        color: orange;
                    }
                }
                
            }
            >.li4{
                margin-right: 0;
            }
            >li:hover{
               box-shadow: 0px 10px #ccc;
                transform: translateY(-2px);
            }
        }
    }
    .c-six{
        width: 1226px;
        margin: 0 auto;
        margin-top: 28px;
        height: 477px;
        .one {
            font-size: 16px;
            font-weight: bold;
        }
        >ul{
            margin-top: 20px;
            >li{
                width: 295px;
                float: left;
                height: 420px;
                background: #FAFAFA;
                text-align: center;
                margin-right: 14px;
                transition: 0.6s;
                >p:nth-child(1){
                    color: orange;
                    margin: 40px 0 20px 0;
                }
                >a:nth-child(2){
                    font-size: 20px;
                }
                >a:nth-child(3){
                    color: grey;
                    font-size: 12px;
                }
                >a:nth-child(4){
                    color: black;
                    margin-top: 20px;
                }
                >a{
                    display: block;
                    margin: 20px 0;
                }
                >a:hover{
                    box-shadow: none;
                }
                >.ul{
                    width: 70px;
                    margin: 0 auto;
                    >li{
                        width: 5px;
                        float: left;
                        height: 5px;
                        border-radius: 5px;
                        background: gray;
                        border: 1px solid gray;
                        margin-right: 15px;
                        transition: 0.6s;
                    }
                    >li:nth-child(1){
                        width: 7px;
                        height: 7px ;
                        border: 2px solid orangered;
                        border-radius: 7px;
                        background: white;
                        margin-top: -2px;
                    }
                }
            }
            >li:hover{
                box-shadow: 0px 10px #ccc;
                transform: translateY(-2px);
            }
            >.li1{
                border-top:1px solid orange;
            }
            >.li2{
                border-top:1px solid greenyellow;
                >p:nth-child(1){
                    color: greenyellow;
                }
                >.ul{
                    width: 95px;
                    margin: 0 auto;
                }
            }
            >.li3{
                border-top:1px solid paleturquoise;
                >p:nth-child(1){
                    color: paleturquoise;
                }
                >a:nth-child(4){
                    margin-top: 38px;
                }
            }
            >.li4{
                border-top:1px solid pink;
                margin-right: 0;
                >p:nth-child(1){
                    color: pink;
                }
                >a:nth-child(4){
                    margin-top: 38px;
                }
                >.ul{
                    width: 95px;
                    margin: 0 auto;
                }
            }
        }
    }
    .c_seven{
        width: 1226px;
        margin: 0 auto;
        height: 400px;
        .menu0{
            margin-top: 10px;
            li{
                width: 291px;
                float: left;
                text-align: center;
                margin-left: 12px;
                background: white;
                position: relative;
                img{
                    width: 100%;
                }
                .kai{
                    position: absolute;
                    top: 130px;
                    left: 20px;
                    width: 40px;
                    height: 30px;
                }
                p:nth-of-type(1){
                    margin-top: 2rem;
                    font-size: 13px;
                }
                p:nth-of-type(2){
                    margin-top: 0.8rem;
                    margin-bottom: 2rem;
                    color: #ccc;
                }
            }
            li:nth-of-type(1){
                margin-left: 0;
            }
        }
    }
}
    


.footer{
    background: white;
    height: 270px;
    >ul{
        width: 1226px;
        margin: 0 auto;
        height: 80px;
        border-bottom: 1px solid gainsboro;
        >li{
            width: 240px;
            height: 30px;
            text-align: center;
            border-right: 1px solid darkgray;
            margin-top: 25px;
            float: left;
            >a>img{
                vertical-align: middle;
            }
            >a:hover{
                box-shadow: none;
                color: #FF6700;
            }
        }
        >li:nth-child(5){
            border-right: none;
        }
    }
    .f_one{
        width: 1226px;
        margin: 0 auto;
        padding: 30px 0;
        margin-top: 30px;
        >div{
            width: 980px;
            border-right: 1px solid gainsboro;
            float: left;
            >ul{
                width: 160px;
                float: left;
                >li{
                    margin-top: 15px;
                    color: gray;
                    font-size: 12px;
                    >a{
                        color: gray;
                    }
                    >a:hover{
                        box-shadow: none;
                        color: #FF6700;
                    }
                }
                >.strong{
                    margin-top: 0;
                    margin-bottom: 30px;
                    color: black;
                    font-size: 14px;
                }
            }
        }
        >ul{
            width: 245px;
            text-align: center;
            float: right;
            >li{
                font-size: 14px;
                color: gray;
                line-height: 20px;
            }
            >li:nth-child(1){
                font-size: 20px;
                color: orangered;
            }
            >li:nth-child(3){
                margin-bottom: 20px;
            }
            >li:nth-child(4){
                border: 1px solid #FF6700;
                width: 100px;
                padding: 5px 10px;
                font-size: 14px;
                margin: 0 auto;
                >a{
                    color: #FF6700;
                }
            }
            >.lii:hover{
                    background: #FF6700;
                    >a{color: white;}
                }
        }
    }
}
.footer1{
    background: #FAFAFA;
    >div{
        width: 1226px;
        margin: 0 auto;
        img{
            float: left;
        }
        >div{
            margin-left: 10px;
            float: left;
            >ul{
                font-size: 14px;
                line-height: 20px;
                >li{
                    padding: 0 5px;
                    font-size: 12px;
                    float: left;
                    border-right: 1px solid darkgray;
                    >a:hover{
                        box-shadow: none;
                        color:#FF6700;
                    }
                }
                >li:nth-child(12){
                    border-right: none;
                }
            }
            >p{
                height: 35px;
                font-size: 12px;
                color: darkgray;
            }
        }
        >ul{
            float: right;
            >li{
                margin-left: 10px;
                float: left;
                font-size: 12px;
                color: grey;
                >img{
                    margin-right: 5px;
                    
                }
            }
            li:nth-of-type(3),li:nth-of-type(4){
                float: left;
            }
            div{
                height: 20px;
                float: left;
            }
        }
    }
    >p{
        text-align: center;
        padding: 34px 0;
        font-family: "楷体";
        font-size: 20px;
        color: gray;
    }
}